.svg-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
  margin-top: -1px;
}
@media screen and (max-width: 550px) {
  .svg-container {
    height: 90%;
    margin-bottom: -150px;
  }
}
