.benefits-container {
  display: flex;
  justify-content: center;
  width: 1420px;
  height: 100%;
  margin: -1px auto;
  background-color: rgb(255, 255, 255);
  border: none;
}
.flex-container {
  margin: 100px 0 100px 0;
  display: flex;
  width: 1000px;
  justify-content: space-between;
}
