.benefits-container {
  display: flex;
  justify-content: center;
  width: 1420px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
}
.flex-container {
  padding: 100px 150px;
  display: flex;
  width: 85vw;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
