.motive-container {
  display: flex;
  justify-content: center;
  width: 1420px;
  height: 100%;
  margin: -2px auto;
  background-color: white;
}
.motive-tag {
  color: rgb(0, 65, 0);
  font-size: 24px;
  font-weight: bold;
}
.card-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.card-left {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 100px;
}
.radius {
  overflow: hidden;
  border-radius: 20px;
}
.body {
  margin-top: 50px;
}
.head {
  font-size: 26px;
  margin-top: 10px;
}
.body,
.head {
  width: 60%;
}
