.motive-container {
  display: flex;
  justify-content: center;
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}
.card-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.card-left {
  display: flex;
  justify-content: center;
  width: 50%;
}
.radius {
  overflow: hidden;
  border-radius: 20px;
}
.body {
  margin-top: 50px;
}
.head {
  font-size: 28px;
  font-weight: 800;
  margin-top: 10px;
}
.body,
.head {
  width: 60%;
}
