.title {
  font-size: clamp(30px, 10px + 10vw, 70px);
  font-weight: 700;
  color: white;
  margin-top: 40px;
  margin-bottom: 0;
  display: flex;
  text-align: center;
}
.sub-title {
  text-align: center;
  font-size: clamp(10px, 7px + 3vw, 25px);
  font-weight: 400;
  color: white;
  margin-top: 24px;
  margin-bottom: 35px;
}
