.form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form > input {
  width: 250px;
  padding: 16px;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 18px;
  border-radius: 6px;
  color: black;
  transition: 0.2s ease-in-out;
}
.join-btn {
  padding: 10px 50px;
  margin-left: 15px;
  border: none;
  background-color: #ffcc1d;
  font-weight: 700;
  font-size: 20px;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.join-btn:hover {
  transform: scale(1.1);
}
.CTA-text {
  margin: 35px auto 50px auto;
  text-align: center;
  width: 60%;
  font-size: 14px;
  color: white;
}
