.heroIllustration {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  animation: handMove 4s ease infinite;
  height: 400px;
  width: 500px;
}
.illustration-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width: 1420px;
  height: 100%;
  /* margin: 0 auto; */
  padding-bottom: -20px;
  background-color: white;
}
@keyframes handMove {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@media screen and (max-width: 550px) {
  .heroIllustration {
    width: 350px;
    height: 250px;
  }
}
@media screen and (max-width: 350px) {
  .heroIllustration {
    width: 300px;
    height: 200px;
  }
}
