.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #116530;
}

.land-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.heroIllustration {
  position: absolute;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
